.chatbot-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 350px;
    height: 500px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .chatbot-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgb(211, 62, 62);
    color: white;
    padding: 10px;
    border-radius: 8px;
  }
  
  .chatbot-header img {
    width: 30px;
    height: 30px;
  }
  
  .messages {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
  }
  
  /* .user-message {
    background-color: #e74c3c; 
    align-self: flex-end;
    border-bottom-right-radius: 0;
  }
  
  .bot-message {
    background-color: #2c3e50; 
    align-self: flex-start;
    border-bottom-left-radius: 0;
  } 
  */
  
  .input-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .message {
    max-width: 70%;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 8px;
    color: white;
    word-wrap: break-word;
    line-height: 1.4;
  }
  .bubble {
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    word-wrap: break-word;
  }  
  
  .user-message {
    background-color: #ffcccc;
    align-self: flex-end;
    margin-left: auto;
  }
  
  .bot-message {
    background-color: #f1f1f1;
    align-self: flex-start;
    margin-right: auto;
  }