body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./assets/background.jpg'); /* Update with correct path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
